# Compiled source #
*.class
*/bin/*

# Eclipse files
.project
.classpath
.settings
.metadata
target

# IntelliJ IDEA files
.idea
*.iws
*.ipr
*.iml

# Packages
*.jar

# Maven build files
target
reports
# ARQ tests
arq-perf

# PMD
.pmd

# Merge files
*.orig

# backup files
*.*~

#log files
*.log

# checkstyle file
**/.checkstyle
**/*/.checkstyle
